/*GLOBAL VARIABLES*/

/*Colours*/
$dark-blue: #4A535D;
$blue: #25B0FF;
$pink: #FF2559;
$white: #fff;

$font-color-med: rgba($dark-blue, 80%);

/*Fonts*/
$font-default: 'Roboto', sans-serif;
$font-heading: 'Montserrat', sans-serif;
$font-special: 'Roboto Slab', serif;